<ion-header translucent>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>List Car</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar animated #searchBarEl placeholder="Input with Minimal 3 Characters"
      (ionInput)="searchCarModel(searchBarEl.value)">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>

  <ion-list *ngIf="loading">
    <ion-item *ngFor="let car of [0,1,2,3,4,5,6,7,8,9]">
      <ion-skeleton-text animated style="width: 100%; height: 25px;"></ion-skeleton-text>
    </ion-item>
  </ion-list>

  <ion-list *ngIf="!loading">
    <ion-item *ngFor="let car of cars" routerLink="/car/car-type/{{car.id_model}}/{{car.desc_model}}">
      <ion-label> {{ car.desc_model  }} </ion-label>
    </ion-item>
  </ion-list>

</ion-content>
