<ion-header translucent>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen padding>
    <ion-grid>
      <ion-row size-md="6" offset-md="3">
        <ion-col>
          <ion-card>
            <ion-card-header color="primary">
              <ion-card-title class="ion-text-center">
                Login Form
              </ion-card-title>
            </ion-card-header>
         
          <ion-card-content>

            <form [formGroup]="loginForm" (ngSubmit)="submitLoginForm()" novalidate>

              <ion-list>
                <ion-item>
                  <ion-label position="floating">Email</ion-label>
                  <ion-input type="text" formControlName="email" required></ion-input>
                </ion-item>
                <ion-text class="ion-padding" color="danger" *ngIf="isSubmitted && errorControl.email.errors?.required">
                  Email is required.
                </ion-text>
                <ion-text class="ion-padding" color="danger" *ngIf="isSubmitted && errorControl.email.errors?.pattern">
                  Email not Valid.
                </ion-text>
                <ion-item>
                  <ion-label position="floating">Password</ion-label>
                  <ion-input type="password" formControlName="password" required></ion-input>
                </ion-item>
                <ion-text class="ion-padding" color="danger" *ngIf="isSubmitted && errorControl.password.errors?.required">
                  Password is required.
                </ion-text>
              </ion-list>

            <ion-row size-md="6" offset-md="3">
              <ion-col class="ion-text-center">
                <ion-button color="primary" expand="full" type="submit">Login</ion-button>
              </ion-col>
            </ion-row>

            <ion-row size-md="6" offset-md="3">
              <ion-col class="ion-text-center">
                <ion-label class="ion-margin-top">Don't have account? <a [routerLink]="['/register']"> Register</a> </ion-label>
              </ion-col>
            </ion-row>

          </form>
          </ion-card-content>
        </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  
</ion-content>
