<ion-header translucent>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Dealer</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen class="ion-justify-content-between ion-align-items-center" padding>

  <ion-grid *ngIf="locationPermission || loadMap">
    <ion-row size-md="6" offset-md="3">
      <ion-col>
        <ion-text>Latitude : {{ latitude }}</ion-text>
      </ion-col>
    </ion-row>
    <ion-row size-md="6" offset-md="3">
      <ion-col>
        <ion-text>Longitude : {{ longitude }}</ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div class="ion-text-center" *ngIf="!locationPermission">
    <ion-button (click)="showMap()">
      Show Map
      <ion-icon ios="navigate-outline" md="location-outline" slot="start"></ion-icon>
    </ion-button>
  </div>
  

</ion-content>
