<ion-header transculent>
  <ion-toolbar color="primary">
    <ion-title>Profile</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen padding>

  <ion-grid padding class="ion-margin" style="border-style: dotted; border-color: #3880ff;">
    <ion-row class="ion-margin-bottom">
      <ion-col size="3">
        <div class="ion-text-center">
          <ion-text>Email </ion-text>
        </div>
      </ion-col>
      <ion-col size="8">
        <div class="ion-text-wrap">
          <ion-text> {{ loginData.email }} </ion-text>
        </div>
      </ion-col>
      <ion-col size="1">
        
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="3">
        <div class="ion-text-center">
          <ion-text>Name </ion-text>
        </div>
      </ion-col>
      <ion-col size="8">
        <div class="ion-text-wrap">
          <ion-text> {{ loginData.name }} </ion-text>
        </div>
      </ion-col>
      <ion-col size="1">
        
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="3">
        <div class="ion-text-center">
          <ion-text>Address </ion-text>
        </div>
      </ion-col>
      <ion-col size="8">
        <div class="ion-text-wrap">
          <ion-text> {{ loginData.address }} </ion-text>
        </div>
      </ion-col>
      <ion-col size="1">
        
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="3">
        <div class="ion-text-center">
          <ion-text>Phone </ion-text>
        </div>
      </ion-col>
      <ion-col size="8">
        <div class="ion-text-wrap">
          <ion-text> <a href="tel:{{ loginData.phone }}">{{ loginData.phone }}</a> </ion-text>
        </div>
      </ion-col>
      <ion-col size="1">
        
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        
        
      </ion-col>
    </ion-row>
  </ion-grid>

  <div class="ion-text-center ion-margin">
    <ion-button color="danger" expand="full" (click)="doLogout()">
      Logout
      <ion-icon slot="start" name="log-out-outline"></ion-icon>
    </ion-button>
  </div>

</ion-content>
