
<ion-menu side="end" content-id="main-content">
  <ion-header>
    <ion-toolbar translucent color="primary">
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item *ngIf="loginData">
        <ion-icon name="person-circle-outline" slot="start"></ion-icon>
        <ion-label>Profile</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="paper-plane" slot="start"></ion-icon>
        <ion-label>Outbox</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="heart" slot="start"></ion-icon>
        <ion-label>Favorites</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="archive" slot="start"></ion-icon>
        <ion-label>Archived</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="trash" slot="start"></ion-icon>
        <ion-label>Trash</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="warning" slot="start"></ion-icon>
        <ion-label>Spam</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<div class="ion-page" id="main-content">
<ion-header translucent>
  <ion-toolbar color="primary">
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Dashboard</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>

<ion-card>
  <ion-card-header color="primary">
    <ion-card-subtitle>
      Hot Seller
    </ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>
    <ion-grid>
      <ion-row>
        <ion-col size-md="6" offset-md="3">
          <ion-slides pager="true" [options]="optionSlide">
            <ion-slide>
             <ion-img src="https://files.porsche.com/filestore/image/multimedia/none/992-c2-modelimage-sideshot/thumbwhite/d781effb-fa53-11e9-80c6-005056bbdc38;sK;twebp/porsche-thumbwhite.webp"></ion-img>
            </ion-slide>
            <ion-slide>
              <ion-img src="https://files.porsche.com/filestore/image/multimedia/none/992-c4s-modelimage-sideshot/thumbwhite/446ee46d-f15e-11e8-bec8-0019999cd470;;twebp/porsche-thumbwhite.webp"></ion-img>
            </ion-slide>
            <ion-slide>
              <ion-img src="https://files.porsche.com/filestore/image/multimedia/none/911-tus-modelimage-sideshot/thumbwhite/930894f2-6214-11ea-80c8-005056bbdc38;sK;twebp/porsche-thumbwhite.webp"></ion-img>
            </ion-slide>
          </ion-slides>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>

<ion-card class="ion-margin-top">
  <ion-card-header color="primary">
    <ion-card-subtitle>
      Menu
    </ion-card-subtitle>
  </ion-card-header>
  <ion-grid>
    <ion-row>
      <ion-col size="6" size-md>
        <ion-item href="#" color="primary" style="border-radius: 6px;" routerLink="/car">
          <ion-icon ios="car-sport-outline" md="car-outline" slot="start"></ion-icon>
          <ion-label>List Car</ion-label>
        </ion-item>
      
        <ion-item href="#" color="primary" class="ion-margin-top" style="border-radius: 6px;">
          <ion-icon ios="cog-outline" md="settings-outline" slot="start"></ion-icon>
          <ion-label>Service</ion-label>
        </ion-item>
      
        <ion-item href="#" color="primary" class="ion-margin-top" style="border-radius: 6px;">
          <ion-icon name="construct-outline" slot="start"></ion-icon>
          <ion-label>Parts</ion-label>
        </ion-item>
      </ion-col>

      <ion-col size="6" size-md>
        <ion-item href="#" color="primary" style="border-radius: 6px;" [routerLink]="['/dealer']">
          <ion-icon ios="navigate-outline" md="location-outline" slot="start"></ion-icon>
          <ion-label>Dealer</ion-label>
        </ion-item>
      
        <ion-item href="#" color="primary" class="ion-margin-top" style="border-radius: 6px;">
          <ion-icon name="book-outline" slot="start"></ion-icon>
          <ion-label>News</ion-label>
        </ion-item>
      
        <ion-item href="#" color="primary" class="ion-margin-top" style="border-radius: 6px;">
          <ion-icon name="call-outline" slot="start"></ion-icon>
          <ion-label>Contact</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
  
</ion-card>

<ion-fab horizontal="end" vertical="bottom" slot="fixed">
  <ion-fab-button color="primary">
    <!-- <ion-icon md="caret-back" ios="chevron-back-circle-outline"></ion-icon> -->
    <ion-icon name="chevron-back-circle-outline"></ion-icon>
  </ion-fab-button>
  <ion-fab-list side="start">
    <ion-fab-button color="light">
      <ion-icon ios="cog-outline" md="settings-outline" routerLink="/setting"></ion-icon>
    </ion-fab-button>
    <ion-fab-button color="light">
      <ion-icon name="help-circle-outline"></ion-icon>
    </ion-fab-button>
    
    <ion-fab-button color="light" [routerLink]="['/login']" *ngIf="!loginData">
      <ion-icon name="log-in-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-button color="light" [routerLink]="['/profile']" *ngIf="loginData">
      <ion-icon name="person-circle-outline"></ion-icon>
    </ion-fab-button>

    <!-- <ion-fab-button color="light" (click)="doLogOut()" *ngIf="loginData">
      <ion-icon name="log-out-outline"></ion-icon>
    </ion-fab-button> -->
  </ion-fab-list>
</ion-fab>

  
</ion-content>

<ion-footer>
  <ion-toolbar color="primary">
    <div class="ion-text-center">
      <ion-title style="font-size: medium;">Porsche App @IT DevOps Team</ion-title>
    </div>
  </ion-toolbar>
</ion-footer>
</div>