<ion-header translucent>
  <ion-toolbar>
    <ion-title>Movies</ion-title>
  </ion-toolbar>
</ion-header>,
<ion-content fullscreen>

  <div *ngIf="!loading">
    <ion-list>
      <ion-list-header>
        <ion-label>
          Now Playing
        </ion-label>
      </ion-list-header>


      <ion-card color="light" *ngFor="let movie of NowPlayingMovies;">
        <img src="https://image.tmdb.org/t/p/w500/{{movie.backdrop_path}}" />
        <ion-card-header>
          <ion-card-subtitle>{{movie.release_date}}</ion-card-subtitle>
          <ion-card-title>{{movie.title}}</ion-card-title>
        </ion-card-header>
        <ion-card-content style="text-align: justify;">
          {{movie.overview}}
        </ion-card-content>
      </ion-card>


    </ion-list>
  </div>

  <!-- Skeleton screen -->
  <div *ngIf="loading">

    <ion-list>
      <ion-list-header>
        <ion-label>
          Now Playing
        </ion-label>
      </ion-list-header>
      <ion-item *ngFor="let item of [1,2,3,4,5,6,7,8,9,10]">

        <ion-label>
          <ion-skeleton-text animated style="width: 100%; height: 50px"></ion-skeleton-text>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>

  <ion-button expand="block" (click)="emptyData()">Empty Data</ion-button>

  <ion-button expand="block" (click)="loadData()">Load Data</ion-button>

</ion-content>
